!!! 5
html(lang='ja')
    head
        title CV Bakery
        meta(charset='utf-8')
        link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    body(style='padding-top: 40px; background-image: url(/images/resume/#{backgroundImg}); background-position: initial initial; background-repeat: repeat repeat;')
        #mainPage
            #header
                #menuPanel.navbar.navbar-fixed-top(style='top: 0px;')
                    .navbar-inner
                        a.brand(href='http://www.cvbakery.com') CV Bakery
                        ul.nav
                #content
                    #resumePanel.well.well-large.container-fluid.sl-panel.style3
                        .row-fluid
                            .span4(style="margin-right: 25px !important")
                                .sl-editable
                                    .sl-photo
                                        if (setting.photo)
                                            img.img-polaroid(src='/upload/#{photo}')
                                        else
                                            img.img-polaroid(src='/upload/default.png')
                                .sl-editable.text-center
                                    if (firstNameEn || lastNameEn)
                                        h5
                                            | #{firstNameEn}&nbsp;&nbsp;&nbsp;&nbsp;#{lastNameEn}
                                    if (firstNameKana || lastNameKana)
                                        h5
                                            | #{firstNameKana}&nbsp;&nbsp;&nbsp;&nbsp;#{lastNameKana}
                                    if (firstName || lastName)
                                        h4
                                            | #{firstName}&nbsp;&nbsp;&nbsp;&nbsp;#{lastName}
                                if (setting.selfIntroduction)
                                    hr
                                    .sl-sub-editable
                                        p
                                            | !{selfIntroductionStr}
                                if (setting.skill)
                                    hr
                                    .item-container
                                        each item in skill
                                            .sl-sub-editable
                                                .progress(class='#{item.barStyle}')
                                                    .bar(style='width: #{item.level}%;')
                                                        p.text-left(style='margin-left: 10px;')
                                                            i.icon-gear
                                                            | &nbsp;&nbsp;#{item.name}
                                if (setting.languageBackground)
                                    hr
                                    .item-container
                                        each item in languageBackground
                                            .sl-sub-editable
                                                .progress(class='#{item.barStyle}')
                                                    .bar(style='width: #{item.level}%;')
                                                        p.text-left(style='margin-left: 10px;')
                                                            i.icon-comment-alt
                                                            | &nbsp;&nbsp;#{item.language}
                                hr
                                if (setting.birthDay)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-calendar
                                            | &nbsp;&nbsp;&nbsp;&nbsp;生年月日：
                                        .span8
                                            | #{birthDayStr}
                                if (setting.gender)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-leaf
                                            | &nbsp;&nbsp;&nbsp;&nbsp;性別：
                                        .span8
                                            | #{gender}
                                if (setting.nationality)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-flag
                                            | &nbsp;&nbsp;&nbsp;&nbsp;国籍：
                                        .span8
                                            | #{nationality}
                                if (setting.married)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-heart
                                            | &nbsp;&nbsp;&nbsp;&nbsp;婚姻状況：
                                        .span8
                                            | #{married}
                                if (setting.firstArrive)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-plane
                                            | &nbsp;&nbsp;&nbsp;&nbsp;初回来日：
                                        .span8
                                            | #{firstArriveStr}
                                if (setting.itExperience)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-briefcase
                                            | &nbsp;&nbsp;&nbsp;&nbsp;IT経験年数：
                                        .span8
                                            | #{itExperienceStr}
                                if (setting.availableDate)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-ok
                                            | &nbsp;&nbsp;&nbsp;&nbsp;稼働可能日：
                                        .span8
                                            | #{availableDateStr}
                                if (setting.address)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-home
                                            | &nbsp;&nbsp;&nbsp;&nbsp;住所：
                                        .span8
                                            | #{addressStr}
                                if (setting.nearestStation)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-road
                                            | &nbsp;&nbsp;&nbsp;&nbsp;最寄り駅：
                                        .span8
                                            | #{nearestStation}
                                if (setting.telNo)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-phone
                                            | &nbsp;&nbsp;&nbsp;&nbsp;電話番号：
                                        .span8
                                            | #{telNo}
                                if (setting.email)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-envelope
                                            | &nbsp;&nbsp;&nbsp;&nbsp;E-Mail：
                                        .span8
                                            | #{email}
                                if (setting.homePage)
                                    .row-fluid.sl-editable
                                        .span4
                                            i.icon-globe
                                            | &nbsp;&nbsp;&nbsp;&nbsp;個人サイト：
                                        .span8
                                            a(href="http://#{homePage}")
                                                | #{homePage}
                            .span8
                                if (setting.education)
                                    .composite-header
                                        h4
                                            i.icon-pencil.icon-large
                                            | &nbsp;&nbsp;学歴
                                    .row-fluid.item-container
                                        each item in education
                                            .span6.sl-sub-editable
                                                .row-fluid
                                                    span.span7.schoolArea
                                                        if (item.school)
                                                            h5
                                                                i.icon-book
                                                                | &nbsp;&nbsp;#{item.school}
                                                        if (item.major)
                                                            h6.sl-placeholder
                                                                i.icon-pencil
                                                                | &nbsp;&nbsp;#{item.major}
                                                    small.span5.graduateArea
                                                        if (item.graduate)
                                                            span.label.label-info.pull-right
                                                                i.icon-bell
                                                                | &nbsp;&nbsp;#{item.graduateStr}
                                                    if (item.detail)
                                                        .detailArea
                                                            p
                                                                | !{item.detailStr}
                                if (setting.qualification)
                                    .composite-header
                                        h4
                                            i.icon-credit-card.icon-large
                                            | &nbsp;&nbsp;資格
                                    .row-fluid.item-container
                                        each item in qualification
                                            .span6.sl-sub-editable
                                                .row-fluid
                                                    .span7.qualificationNameArea
                                                        if (item.qualificationName)
                                                            h5
                                                                i.icon-bookmark-empty
                                                                | &nbsp;&nbsp;#{item.qualificationName}
                                                    .span5.qualifiedDateArea
                                                        if (item.qualifiedDate)
                                                            span.label.label-info.pull-right
                                                                i.icon-calendar
                                                                | &nbsp;&nbsp;#{item.qualifiedDateStr}
                                                    if (item.detail)
                                                        .detailArea
                                                            p
                                                                | !{item.detailStr}
                                if (setting.career)
                                    .composite-header
                                        h4
                                            i.icon-briefcase.icon-large
                                            | &nbsp;&nbsp;職歴
                                    .row-fluid.item-container
                                        each item in career
                                            .span6.sl-sub-editable
                                                .row-fluid
                                                    if (item.startDate || item.endDate)
                                                        .dateArea
                                                            span.label.label-info
                                                                i.icon-calendar
                                                                | &nbsp;&nbsp;#{item.startDateStr}～#{item.endDateStr}
                                                    .companyArea
                                                        if (item.company)
                                                            h5
                                                                i.icon-building
                                                                | &nbsp;&nbsp;#{item.company}
                                                        if (item.address)
                                                            h6.sl-placeholder
                                                                i.icon-map-marker
                                                                | &nbsp;&nbsp;#{item.address}
                                                        if (item.position)
                                                            h6.sl-placeholder
                                                                i.icon-user
                                                                | &nbsp;&nbsp;#{item.position}
                                                    if (item.detail)
                                                        .detailArea
                                                            p
                                                                | !{item.detailStr}
                                if (setting.workExperience)
                                    div
                                        .composite-header
                                            h4
                                                i.icon-group.icon-large
                                                | &nbsp;&nbsp;仕事経験
                                        .row-fluid.item-container
                                            each item in workExperience
                                                .span6.sl-sub-editable
                                                    .row-fluid
                                                        if (item.startDate || item.endDate)
                                                            .dateArea
                                                                span.label.label-info
                                                                    i.icon-calendar
                                                                    | &nbsp;&nbsp;#{item.startDateStr}～#{item.endDateStr}
                                                        .titleArea
                                                            if (item.title)
                                                                h5
                                                                    i.icon-flag-alt
                                                                    | &nbsp;&nbsp;#{item.title}
                                                            if (item.position)
                                                                h6.sl-placeholder
                                                                    i.icon-wrench
                                                                    | &nbsp;&nbsp;#{item.position}
                                                        if (item.detail)
                                                            .detailArea
                                                                p
                                                                    | !{item.detailStr}
            #footer