!!! 5
html(lang='ja')
    head
        title CV Bakery
        meta(charset='utf-8')
        link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom.min.css')
        link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    body(style='padding-top: 40px; background-image: url(http://localhost:3000/images/resume/#{backgroundImg}); background-position: initial initial; background-repeat: repeat repeat;')
        #mainPage
            #header
                #menuPanel.navbar.navbar-fixed-top(style='top: 0px;')
                    .navbar-inner
                        a.brand(href='http://www.cvbakery.com') CV Bakery
                        ul.nav
                #content
                    #resumePanel.well.well-large.container-fluid.sl-panel.style2
                        .row-fluid
                            .span2
                                #photo.row-fluid
                                    div
                                        .sl-photo
                                            img.img-polaroid(src='/upload/#{photo}')
                            .span6
                                #name
                                    div
                                        .sl-value
                                            h4
                                                | #{firstName}&nbsp;&nbsp;&nbsp;&nbsp;#{lastName}
                                                | #{firstNameKana}&nbsp;&nbsp;&nbsp;&nbsp;#{lastNameKana}
                                                | #{firstNameEn}&nbsp;&nbsp;&nbsp;&nbsp;#{lastNameEn}
                                if (setting.selfIntroduction)
                                    #selfIntroduction
                                        div
                                            .row-fluid
                                                .span12
                                                    .sl-value
                                                        p
                                                        p
                                                            | #{selfIntroduction}
                                                        p
                            .span3.offset1
                                if (setting.birthDay)
                                    #birthDay.row-fluid
                                        div
                                            .span1
                                                i.icon-calendar
                                            .span11
                                                .sl-value
                                                    | #{birthDay}
                                if (setting.gender)
                                    #gender.row-fluid
                                        div
                                            .span1
                                                i.icon-leaf
                                            .span11
                                                .sl-value
                                                    | #{gender}
                                if (setting.nationality)
                                    #nationality.row-fluid
                                        div
                                            .span1
                                                i.icon-flag
                                            .span11
                                                .sl-value
                                                    | #{nationality}
                                if (setting.married)
                                    #married.row-fluid
                                        div
                                            .span1
                                                i.icon-heart
                                            .span11
                                                .sl-value
                                                    | #{married}
                                if (setting.firstArrive)
                                    #firstArrive.row-fluid
                                        div
                                            .span1
                                                i.icon-plane
                                            .span11
                                                .sl-value
                                                    | #{firstArrive}
                                if (setting.itExperience)
                                    #itExperience.row-fluid
                                        div
                                            .span1
                                                i.icon-briefcase
                                            .span11
                                                .sl-value
                                                    | #{itExperience}
                                if (setting.availableDate)
                                    #availableDate.row-fluid
                                        div
                                            .span1
                                                i.icon-ok
                                            .span11
                                                .sl-value
                                                    | #{availableDate}
                                if (setting.address)
                                    #address.row-fluid
                                        div
                                            .span1
                                                i.icon-home
                                            .span11
                                                .sl-value
                                                    | 〒#{zipCode}）#{address}
                                if (setting.nearestStation)
                                    #nearestStation.row-fluid
                                        div
                                            .span1
                                                i.icon-road
                                            .span11
                                                .sl-value
                                                    | #{nearestStation}
                                if (setting.telNo)
                                    #telNo.row-fluid
                                        div
                                            .span1
                                                i.icon-phone
                                            .span11
                                                .sl-value
                                                    | #{telNo}
                                if (setting.email)
                                    #email.row-fluid
                                        div
                                            .span1
                                                i.icon-envelope
                                            .span11
                                                .sl-value
                                                    | #{email}
                                if (setting.homePage)
                                    #homePage.row-fluid
                                        div
                                            .span1
                                                i.icon-globe
                                            .span11
                                                .sl-value
                                                    a(href="http://#{homePage}")
                                                        | #{homePage}
                        hr
                        .row-fluid
                            .span4
                                if (setting.education)
                                    #education(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-pencil.icon-large
                                                        | &nbsp;&nbsp;学歴
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in education
                                                        div
                                                            .row-fluid.sl-value
                                                                .span7.schoolArea
                                                                    h5
                                                                        i.icon-book
                                                                        | &nbsp;&nbsp;#{item.school}
                                                                    h6.sl-placeholder
                                                                        i.icon-pencil
                                                                        | &nbsp;&nbsp;#{item.major}
                                                                .span5.graduateArea
                                                                    span.label.label-info
                                                                        i.icon-bell
                                                                        | &nbsp;&nbsp;#{item.graduate}
                                                                .detailArea
                                                                    p
                                                                        | #{item.detail}
                                if (setting.qualification)
                                    #qualification(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-credit-card.icon-large
                                                        | &nbsp;&nbsp;資格
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in qualification
                                                        div
                                                            .row-fluid.sl-value
                                                                .span7.qualificationNameArea
                                                                    h5
                                                                        i.icon-bookmark-empty
                                                                        | &nbsp;&nbsp;#{item.qualificationName}
                                                                .span5.qualifiedDateArea
                                                                    span.label.label-info
                                                                        i.icon-calendar
                                                                        | &nbsp;&nbsp;#{item.qualifiedDate}
                                                                .detailArea
                                                                    p
                                                                        | #{item.detail}
                            .span4
                                if (setting.career)
                                    #career(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-briefcase.icon-large
                                                        | &nbsp;&nbsp;職歴
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in career
                                                        div
                                                            .row-fluid.sl-value
                                                                .dateArea
                                                                    span.label.label-info
                                                                        i.icon-calendar
                                                                        | &nbsp;&nbsp;#{item.startDate}～#{item.endDate}
                                                                .companyArea
                                                                    h5
                                                                        i.icon-building
                                                                        | &nbsp;&nbsp;#{item.company}
                                                                    h6.sl-placeholder
                                                                        i.icon-map-marker
                                                                        | &nbsp;&nbsp;#{item.address}
                                                                    h6.sl-placeholder
                                                                        i.icon-user
                                                                        | &nbsp;&nbsp;#{item.position}
                                                                .detailArea
                                                                    p
                                                                        | #{item.detail}
                                if (setting.workExperience)
                                    #workExperience(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-group.icon-large
                                                        | &nbsp;&nbsp;仕事経験
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in workExperience
                                                        div
                                                            .row-fluid.sl-value
                                                                .dateArea
                                                                    span.label.label-info
                                                                        i.icon-calendar
                                                                        | &nbsp;&nbsp;#{item.startDate}～#{item.endDate}
                                                                .titleArea
                                                                    h5
                                                                        i.icon-flag-alt
                                                                        | &nbsp;&nbsp;#{item.title}
                                                                    h6.sl-placeholder
                                                                        i.icon-wrench
                                                                        | &nbsp;&nbsp;#{item.position}
                                                                .detailArea
                                                                    p
                                                                        | #{item.detail}
                            .span4
                                if (setting.skill)
                                    #skill(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-gears.icon-large
                                                        | &nbsp;&nbsp;スキル
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in skill
                                                        div
                                                            .row-fluid.sl-value
                                                                .progress.progress-success
                                                                    .bar(style='width: #{item.level}%;')
                                                                        p.text-left(style='margin-left: 10px;')
                                                                            i.icon-gear
                                                                            | &nbsp;&nbsp;#{item.name}
                                if (setting.languageBackground)
                                    #language(style='margin: 20px; display: block;')
                                        div
                                            .row-fluid.composite-header
                                                .span8
                                                    h4
                                                        i.icon-comments-alt.icon-large
                                                        | &nbsp;&nbsp;語学能力
                                            .row-fluid
                                                .span12.row-fluid.item-container
                                                    each item in languageBackground
                                                        div
                                                            .row-fluid.sl-value
                                                                .progress.progress-success
                                                                    .bar(style='width: #{item.level}%;')
                                                                        p.text-left(style='margin-left: 10px;')
                                                                            i.icon-comment-alt
                                                                            | &nbsp;&nbsp;#{item.language}
            #footer